{% extends 'base.html.twig' %}

{% block title %}Demande approuvée{% endblock %}

{% block body %}

<p>Résumé de la demande : </p>
<p>Demande de code effectuée pour l'agent {{ Agents.Nom }} {{ Agents.Prenom }}</p>
<p>Voici les acces qu'il faut transmettre à l'agent</p>
<p>Login : {{ Agents.Compte.Login }}</p>
<p>Mot de passe : {{ Agents.Compte.Password }}
<div>
<a href='/Main'>Retour</a>
</div>
{% endblock %}