{% extends 'base.html.twig' %}
{% block title %}Administration de l'application{% endblock %}

{% block body %}

<h1>Hello</h1>

<a href="Admin/addFonction">Ajouter fonction</a>
<a href="Admin/showFonctions">Voir fonctions</a>
<p>
<a href="Admin/addSoft">Ajouter soft</a>
<a href="Admin/showSofts">Voir softs</a>
<p>
<a href="Admin/genererComptes">Génerer des comptes temporaires</a>
<p>
<a href="Admin/showComptes">Voir les comptes temporaires</a>
{% endblock %}