<nav class="main-menu">
    <ul>
        <li>
            <a href="/Admin/addFonction">
                <i class="fa fa-home fa-2x"></i>
                <span class="nav-text">
                    Ajouter fonction
                </span>
            </a>
          
        </li>
        <li class="has-subnav">
            <a href="/Admin/showFonctions">
                <i class="fa fa-globe fa-2x"></i>
                <span class="nav-text">
                    Voir fonctions
                </span>
            </a>
            
        </li>
        <li class="has-subnav">
            <a href="/Admin/addSoft">
               <i class="fa fa-comments fa-2x"></i>
                <span class="nav-text">
                    Ajouter soft
                </span>
            </a>
            
        </li>
        <li class="has-subnav">
            <a href="/Admin/showSofts">
               <i class="fa fa-camera-retro fa-2x"></i>
                <span class="nav-text">
                    Voir softs
                </span>
            </a>
           
        </li>
        <li>
            <a href="/Admin/genererComptes">
                <i class="fa fa-film fa-2x"></i>
                <span class="nav-text">
                    Génerer des comptes temporaires
                </span>
            </a>
        </li>
        <li>
            <a href="/Admin/showComptes">
                <i class="fa fa-book fa-2x"></i>
                <span class="nav-text">
                    Voir les comptes temporaires
                </span>
            </a>
        </li>
    </ul>
</nav>
