<ul class="nav nav-tabs navbar-dark bg-dark" id="myDIV" role="tablist">
    <li class="nav-item">
        <a class="nav-link" href="/Main" id="link1" >Accueil</a>
     </li>
    <li class="nav-item">
       <a class="nav-link" href="/Admin/addFonction" id="link2" >Ajout fonction</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/Admin/showFonctions" id="link3">Voir fonctions</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Admin/addSoft" id="link4">Ajout soft</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Admin/showSofts" id="link5">Vois softs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Admin/genererComptes" id="link6">Génerer comptes</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Voir Comptes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/Admin/showComptesUsed">Utilisés</a>
          <a class="dropdown-item" href="/Admin/showComptesDispo">Disponibles</a>
          <a class="dropdown-item" href="/Admin/showLastComptes">Les 10 derniers créés</a>
          <div class="dropdown-divider"></div>

          <a class="dropdown-item" href="/Admin/showComptes">Tous</a>

        </div>
      </li>

  </ul>

 